/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

main .card {
  background-color: rgb(54, 3, 54);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  /* color: white; */
/* max-width: 300px; */
